# Fichiers et dossiers spécifiques à Streamlit
.streamlit/secrets.toml

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnements virtuels
venv/
env/
.env

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
*.log

# Fichiers de base de données
*.db

# Fichiers de distribution
dist/
build/
*.egg-info/
/.venv
/envLLM
/chroma_db
chroma_db/3830e5c3-90f9-4a9b-b952-e3cfb8b8dc26/length.bin
chroma_db/3830e5c3-90f9-4a9b-b952-e3cfb8b8dc26/length.bin
meal_plan.csv
